.wrapper {
  margin-bottom: 20px;
}

/* container */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* tag pill */
.tag {
  padding: 6px 12px;

  border-radius: 6px;
  border: 1px solid #eee;

  background: #fafafa;
  font-size: 14px;

  text-decoration: none;
  color: #333;

  transition: 0.2s;
}

.tag:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
}
