.wrapper {
  margin-bottom: 20px;
}

/* list */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* tag */
.tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 6px 12px;
  border-radius: 6px;

  background: #fafafa;
  border: 1px solid #eee;

  font-size: 14px;
  text-decoration: none;
  color: #333;

  transition: 0.2s;
}

.tag:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
}

/* icon */
.icon {
  display: flex;
  font-size: 16px;
}
