.section {
  width: 100%;
}

/* ===== LAYOUT ===== */

.grid {
  display: flex;
  gap: 10px;
}

/* ===== MAIN CARD ===== */

.mainCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.mainImage {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: 0.3s ease;
}

.mainCard:hover .image {
  transform: scale(1.03);
}

/* ===== TEXT ===== */

.texts {
  padding: 8px 0;
  margin-left: 10px;
}

.category {
  font-size: 12px;
  color: #777;
  display: block;
  text-transform: capitalize;
}

.mainTitle {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.35;
}

/* ===== RIGHT LIST ===== */

.list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.thumb {
  position: relative;
  width: 120px;
  height: 85px;
  min-width: 120px;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mainCard:hover .mainTitle, .listItem:hover .title {
  color: #ff5e62;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .mainImage {
    height: 240px;
  }
}

@media (max-width: 550px) {
  .grid {
    flex-direction: column;
    gap: 6px;
  }

  .list,
  .mainCard {
    width: 100%;
  }

  .mainCard {
    flex-direction: row;
  }

  .mainTitle {
    font-size: 14px;
  }

  .thumb,
  .mainImage {
    width: 100px;
    height: 70px;
    min-width: 100px;
  }
}
